<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map { height: 400px; margin-bottom: 20px; }
        .chat-box {
            height: 100%;
            width: 100%;
            background-color: #fff;
            overflow: hidden
        }

        .chats {
            padding: 30px 15px
        }

        .chat-avatar {
            float: right
        }

        .chat-avatar .avatar {
            width: 30px;
                -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
        }

        .chat-body {
            display: block;
            margin: 10px 30px 0 0;
            overflow: hidden
        }

        .chat-body:first-child {
            margin-top: 0
        }

        .chat-content {
            position: relative;
            display: block;
            float: right;
            padding: 8px 15px;
            margin: 0 20px 10px 0;
            clear: both;
            color: #fff;
            background-color: #62a8ea;
            border-radius: 4px;
                -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        }

        .chat-content:before {
            position: absolute;
            top: 10px;
            right: -10px;
            width: 0;
            height: 0;
            content: '';
            border: 5px solid transparent;
            border-left-color: #62a8ea
        }

        .chat-content>p:last-child {
            margin-bottom: 0
        }

        .chat-content+.chat-content:before {
            border-color: transparent
        }

        .chat-time {
            display: block;
            margin-top: 8px;
            color: rgba(255, 255, 255, .6)
        }

        .chat-left .chat-avatar {
            float: left
        }

        .chat-left .chat-body {
            margin-right: 0;
            margin-left: 30px
        }

        .chat-left .chat-content {
            float: left;
            margin: 0 0 10px 20px;
            color: #76838f;
            background-color: #dfe9ef
        }

        .chat-left .chat-content:before {
            right: auto;
            left: -10px;
            border-right-color: #dfe9ef;
            border-left-color: transparent
        }

        .chat-left .chat-content+.chat-content:before {
            border-color: transparent
        }

        .chat-left .chat-time {
            color: #a3afb7
        }

        .panel-footer {
            padding: 0 30px 15px;
            background-color: transparent;
            border-top: 1px solid transparent;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .avatar img {
            width: 100%;
            max-width: 100%;
            height: auto;
            border: 0 none;
            border-radius: 1000px;
        }
        .chat-avatar .avatar {
            width: 30px;
        }
        .avatar {
            position: relative;
            display: inline-block;
            width: 40px;
            white-space: nowrap;
            border-radius: 1000px;
            vertical-align: bottom;
        }
    </style>
</head>
<body>
    <%- include('../partials/admin/nav') %>
    <div class="container mt-3">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3 mb-3">Etkinlik Sayfası</h1>
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<%= etkinlik.photoPath %>" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h4 class="card-name">
                                    <a style="text-decoration: none; color: black" href="/admin/etkinlik/<%= etkinlik.idetkinlikler %> "> <%= etkinlik.etkinlikAdi %> </a>
                                </h4>
                                <p class="card-text"><%= etkinlik.aciklama %> </p>
                                <p class="card-text"><strong>Kategori: </strong> <% kategoriler.forEach(kat => { %>
                                    <% if (kat.idilgiAlanlari == etkinlik.kategori) { %>
                                        <%= kat.ilgiAlani %>
                                    <% } %>
                                <% }) %> </p>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center text-center">
                            <p><strong>Tarih: </strong><%= etkinlik.tarih.getDate() %>-<%= (etkinlik.tarih.getMonth() + 1) %>-<%= etkinlik.tarih.getFullYear() %></p>
                            <p><strong>Saat: </strong><%= etkinlik.saat %></p>
                            <p><strong>Süre: </strong><%= etkinlik.etkinlikSuresi %> Dakika</p>
                        </div>
                        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
                            <h5>Etkinlik Kurucusu: </h5>
                            <div class="card w-100 h-100 mb-3">
                                <div class="d-flex align-items-center p-3">
                                    <img src="<%= kurucu.photoPath %>" alt="pp" class="img-fluid" style="max-width: 50px; height: 50px; margin-right: 10px;">
                                    <div class="d-flex flex-column">
                                        <p class="mb-0"><strong><%= kurucu.KullanıcıAdı %></strong></p>
                                        <p class="mb-0"><%= kurucu.email %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <button type="button" style="margin-top: 15px;" onclick="toggleMap()" class="btn btn-primary mb-2">Haritayı Göster/Gizle</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <div id="map" style="visibility: hidden;"></div>
                                <input type="hidden" id="enlem" name="enlem" value="<%= etkinlik.konum.x %>">
                                <input type="hidden" id="boylam" name="boylam" value="<%= etkinlik.konum.y %>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (message && message.length > 0) { %>
            <div class="row justify-content-center" style="margin-left: 90px;">
                <div class="col-md-8">
                    <div class="alert <%= alert_type %> row justify-content-center" role="alert">
                        <%= message %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <div class="container bootstrap snippets bootdeys">
        <div class="col-md-7 col-xs-12 col-md-offset-2">
          <!-- Panel Chat -->
          <div class="panel" id="chat">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="icon wb-chat-text" aria-hidden="true"></i> Chat
              </h3>
            </div>
            <div class="panel-body">
              <div class="chats">
                <% mesajlar.forEach(mesaj => { %>
                    <% const gönderenKullanıcı = kullanıcılar.find(kullanıcı => kullanıcı.id === mesaj.gönderen); %>
                 <% if (mesaj.idgonderen == 0) { %>
                    <div class="chat">
                        <div class="chat-avatar">
                          <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="Yonetici">
                            <img src="/static/images/default_pp.png" alt="...">
                            <i></i>
                          </a>
                        </div>
                        <div class="chat-body">
                          <div class="chat-content">
                            <p>
                              <%= mesaj.mesaj %>
                            </p>
                            <time class="chat-time" datetime="<%= mesaj.tarih %>">
                                <% 
                                  const tarih = new Date(mesaj.tarih);
                                  const saat = tarih.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true });
                                %>
                                <%= saat %>
                              </time>
                          </div>
                        </div>
                      </div>
                      <% } else { %>
                        <div class="chat chat-left">
                            <div class="chat-avatar">
                              <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="<%= gönderenKullanıcı ? gönderenKullanıcı.KullanıcıAdı : 'Bilinmeyen Kullanıcı' %>">
                                <img src="<%= gönderenKullanıcı ? gönderenKullanıcı.photoPath : '/static/images/default.jpg' %>" alt="Fotoğraf" width="50">
                                <i></i>
                              </a>
                            </div>
                            <div class="chat-body">
                              <div class="chat-content">
                                <p><%= mesaj.mesaj %></p>
                                <time class="chat-time" datetime="<%= mesaj.tarih %>">
                                    <% 
                                      const tarih = new Date(mesaj.tarih);
                                      const saat = tarih.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true });
                                    %>
                                    <%= saat %>
                                  </time>
                              </div>
                            </div>
                          </div>
                 <% } %>
                <% }) %>
              </div>
            </div>
            <div class="panel-footer">
              <form method="POST" action="/admin/send-message"> 
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Say something" name="mesaj">
                  <input type="hidden" id="eventId" name="eventId" value="<%= etkinlik.idetkinlikler %>"> 
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Send</button>
                  </span>
                </div>
              </form>
            </div>
        </div>
        <% if (message2 && message2.length > 0) { %>
            <div class="row justify-content-center" style="margin-left: 90px;">
                <div class="col-md-8">
                    <div class="alert <%= alert_type2 %> row justify-content-center" role="alert">
                        <%= message2 %>
                    </div>
                </div>
            </div>
        <% } %>
        </div>
    </div>
    

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        
    function previewEventPhoto(event) {
        const reader = new FileReader();
        reader.onload = function() {
            const output = document.getElementById('eventPhotoPreview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);

    }

    //foto değiştiğinde
    /*
    document.getElementById('etkinlikFoto').addEventListener('change', function(e){
        const file = e.target.files[0];
        if(file)
        {
            const formData = new FormData();
            formData.append('photo', file);
            fetch('/upload_photo3', {
                method: 'POST',
                body: formData
            }).then(response => {
                if(response.redirected){
                    window.location.href = response.url;
                }else{
                    return response.json();
                }
            })
            .then(data => {
                if(data && data.photoPath){
                    document.getElementById('eventPhotoPreview').src = data.photoPath;
                }
            })
            .catch(err => {
                console.error(err);
            });
        }
    });
       */
    const etkinlikEnlem = parseFloat("<%= etkinlik.konum?.x || 39.9334 %>");
    const etkinlikBoylam = parseFloat("<%= etkinlik.konum?.y || 32.8597 %>");
    const map = L.map('map').setView([etkinlikEnlem, etkinlikBoylam], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
        maxZoom: 18,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    let marker = L.marker([etkinlikEnlem, etkinlikBoylam]).addTo(map);

    map.on('click', function(e){
        const {lat, lng} = e.latlng;

        //marker update
        if(marker){
            marker.setLatLng(e.latlng);
        }else{
            marker = L.marker(e.latlng).addTo(map);
        }

        //inputlara bilgileri ekle
        document.getElementById('enlem').value = lat;
        document.getElementById('boylam').value = lng;

    });
    </script>
    
    <script>
        function toggleMap() {
            const mapDiv = document.getElementById('map');
            if (mapDiv.style.visibility === 'hidden') {
                mapDiv.style.visibility = 'visible';
                mapDiv.style.height = '400px';  // Haritanın yüksekliğini burada belirleyin.
            } else {
                mapDiv.style.visibility = 'hidden';
                mapDiv.style.height = '0';
            }
        }
    </script>
</body>
</html>