<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <style>
        #map { height: 400px; margin-bottom: 20px; }
        body {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #2A2B33;
        }
    </style>
</head>
<body>
    <%- include('../partials/admin/nav') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3 style="color: #fff;"><strong>Kullanıcı Güncelle</strong></h3>
            </div>
            <div class="col-md-12 mt-3">
                <img id="userPhoto" src="<%= photoPath %>" class="card-img-top mx-auto" alt="user icon" style="width: 50%; height: auto; cursor: pointer; color: #ccc;">
                <input type="file" id="photoUpload" accept="image/*" style="display: none;">
            </div>
            <div class="col-md-12 mt-3">
                <form method="post">
                    <div class="row mb-3">
                        <label for="id" class="col-sm-2 col-from-label" style="color: #ccc;">Id</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="idkullanıcılar" name="idkullanıcılar" readonly value="<%= idkullanıcılar %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="KullanıcıAdı" class="col-sm-2 col-from-label" style="color: #ccc;">Kullanıcı Adı</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="KullanıcıAdı" name="KullanıcıAdı" value="<%= KullanıcıAdı %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="isim" class="col-sm-2 col-from-label" style="color: #ccc;">İsim:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="isim" name="isim"  value="<%= isim %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="soyisim" class="col-sm-2 col-from-label" style="color: #ccc;">Soyisim:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="soyisim" name="soyisim"  value="<%= soyisim %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="dogumTarihi" class="col-sm-2 col-from-label" style="color: #ccc;">Doğum Tarihi:</label>
                        <div class="col-sm-8">
                            <input type="date" id="dogumTarihi" name="dogumTarihi" value="<%= dogumTarihi %>" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="cinsiyet" class="col-sm-2 col-from-label" style="color: #ccc;">Cinsiyet:</label>
                        <div class="col-sm-8">
                            <select id="cinsiyet" name="cinsiyet" required>
                                <option value="0" <%= cinsiyet == "0" ? "selected" : "" %>>Belirtmek İstemiyorum</option>
                                <option value="1" <%= cinsiyet == "1" ? "selected" : "" %>>Erkek</option>
                                <option value="2" <%= cinsiyet == "2" ? "selected" : "" %>>Kadın</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="telefon" class="col-sm-2 col-from-label" style="color: #ccc;">Telefon(+90):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="telefon" name="telefon"  value="<%= telefon %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-from-label" style="color: #ccc;">Konum:</label>
                        <div class="col-sm-8">
                            <div id="map"></div>
                            <input type="hidden" id="enlem" name="enlem" value="<%= konum.x %>">
                            <input type="hidden" id="boylam" name="boylam" value="<%= konum.y %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="email" class="col-sm-2 col-from-label" style="color: #ccc;">Email:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="email" name="email"  value="<%= email %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="updatePassword" class="col-sm-2 col-from-label" style="color: #ccc;">Şifre Güncelle</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="updatePassword" name="updatePassword">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="sifre" class="col-sm-2 col-from-label" style="color: #ccc;">Şifre:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="sifre" name="sifre" disabled>
                        </div>
                    </div>                    
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <% if (message && message.length > 0) { %>
            <div class="row justify-content-center" style="margin-left: 90px;">
                <div class="col-md-8">
                    <div class="alert <%= alert_type %> row justify-content-center" role="alert">
                        <%= message %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <script>
        const userId = "<%= idkullanıcılar %>"; // Kullanıcının ID'sini burada dinamik olarak ayarla
        // Fotoğraf alanına tıklandığında dosya seçme penceresini aç
        document.getElementById("userPhoto").addEventListener("click", function() {
            document.getElementById("photoUpload").click();
        });
    
        // Dosya seçildikten sonra yapılacak işlemler
        document.getElementById("photoUpload").addEventListener("change", function(event) {
        const file = event.target.files[0];
        if (file) {
            const formData = new FormData();
            formData.append("photo", file);
            formData.append("id", userId);

            // Dosyayı AJAX ile gönder
            fetch("/upload_photo2", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url; // Yönlendirme yap
                } else {
                    return response.json();
                }
            })
            .then(data => {
                if (data && data.photoPath) {
                    document.getElementById("userPhoto").src = data.photoPath; // Yeni fotoğrafı güncelle
                }
            })
            .catch(error => {
                console.error("Fotoğraf yükleme hatası:", error);
            });
        }
    });
    </script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script>
        const etkinlikEnlem = parseFloat("<%= konum?.x || 39.9334 %>");
        const etkinlikBoylam = parseFloat("<%= konum?.y || 32.8597 %>");
    const map = L.map('map').setView([39.9334, 32.8597], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
        maxZoom: 18,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    let marker = L.marker([etkinlikEnlem, etkinlikBoylam]).addTo(map);

    

    map.on('click', function(e){
        const {lat, lng} = e.latlng;

        //marker update
        if(marker){
            marker.setLatLng(e.latlng);
        }else{
            marker = L.marker(e.latlng).addTo(map);
        }

        //inputlara bilgileri ekle
        document.getElementById('enlem').value = lat;
        document.getElementById('boylam').value = lng;
    });
    </script>

    <script>
        // Checkbox'a bağlı olarak şifre alanını etkinleştir
        const updatePasswordCheckbox = document.getElementById('updatePassword');
        const passwordInput = document.getElementById('sifre');
        updatePasswordCheckbox.addEventListener('change', () => {
            passwordInput.disabled = !updatePasswordCheckbox.checked;
        });
    </script>
    
</body>
</html>