<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map { height: 400px; margin-bottom: 20px; }
        .chat-box {
            height: 100%;
            width: 100%;
            background-color: #fff;
            overflow: hidden
        }

        .chats {
            padding: 30px 15px
        }

        .chat-avatar {
            float: right
        }

        .chat-avatar .avatar {
            width: 30px;
                -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
        }

        .chat-body {
            display: block;
            margin: 10px 30px 0 0;
            overflow: hidden
        }

        .chat-header {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .chat-body:first-child {
            margin-top: 0
        }

        .chat-content {
            position: relative;
            display: block;
            float: right;
            padding: 8px 15px;
            margin: 0 20px 10px 0;
            clear: both;
            color: #fff;
            background-color: #62a8ea;
            border-radius: 4px;
                -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        }

        .chat-content:before {
            position: absolute;
            top: 10px;
            right: -10px;
            width: 0;
            height: 0;
            content: '';
            border: 5px solid transparent;
            border-left-color: #62a8ea
        }

        .chat-content>p:last-child {
            margin-bottom: 0
        }

        .chat-content+.chat-content:before {
            border-color: transparent
        }

        .chat-time {
            display: block;
            margin-top: 8px;
            color: rgba(255, 255, 255, .6)
        }

        .chat-left .chat-avatar {
            float: left
        }

        .chat-left .chat-body {
            margin-right: 0;
            margin-left: 30px
        }

        .chat-left .chat-content {
            float: left;
            margin: 0 0 10px 20px;
            color: #76838f;
            background-color: #dfe9ef
        }

        .chat-left .chat-content:before {
            right: auto;
            left: -10px;
            border-right-color: #dfe9ef;
            border-left-color: transparent
        }

        .chat-left .chat-content+.chat-content:before {
            border-color: transparent
        }

        .chat-left .chat-time {
            color: #a3afb7
        }

        .panel-footer {
            padding: 0 30px 15px;
            background-color: transparent;
            border-top: 1px solid transparent;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .avatar img {
            width: 100%;
            max-width: 100%;
            height: auto;
            border: 0 none;
            border-radius: 1000px;
        }
        .chat-avatar .avatar {
            width: 30px;
        }
        .avatar {
            position: relative;
            display: inline-block;
            width: 40px;
            white-space: nowrap;
            border-radius: 1000px;
            vertical-align: bottom;
        }

        .katilimcilar {
            text-align: center;
            font-family: Arial, sans-serif;
        }

        .katilimcilar h2 {
            margin-bottom: 20px;
        }

        .kutu {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            position: relative;
        }

        .kutu span {
            font-size: 14px;
            margin-right: 10px;
        }

        .kaldir {
            position: absolute;
            top: 5px;
            right: 5px;
            background: red;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            line-height: normal;
            margin-top: 8px;
            text-align: center;
            font-size: 12px;
        }

        .panel-body .chats {
            max-height: 500px; /* Maksimum yükseklik */
            overflow-y: auto; /* Dikey kaydırma çubuğu */
            padding-right: 10px; /* Kaydırma çubuğuna yapışmaması için sağ boşluk */
        }
    </style>
</head>
<body>
    <%- include('../partials/user/nav') %>
    <div class="container mt-3">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3 mb-3">Etkinlik Sayfası</h1>
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<%= etkinlik.photoPath %>" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <h4 class="card-name">
                                    <a style="text-decoration: none; color: black" href="/user/etkinlik/<%= etkinlik.idetkinlikler %> "> <%= etkinlik.etkinlikAdi %> </a>
                                </h4>
                                <p class="card-text"><%= etkinlik.aciklama %> </p>
                                <p class="card-text"><strong>Kategori: </strong> <% kategoriler.forEach(kat => { %>
                                    <% if (kat.idilgiAlanlari == etkinlik.kategori) { %>
                                        <%= kat.ilgiAlani %>
                                    <% } %>
                                <% }) %> </p>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center text-center">
                            <p><strong>Tarih: </strong><%= etkinlik.tarih.getDate() %>-<%= (etkinlik.tarih.getMonth() + 1) %>-<%= etkinlik.tarih.getFullYear() %></p>
                            <p><strong>Saat: </strong><%= etkinlik.saat %></p>
                            <p><strong>Süre: </strong><%= etkinlik.etkinlikSuresi %> Dakika</p>
                        </div>
                        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center">
                            <h5>Etkinlik Kurucusu: </h5>
                            <% if (typeof kurucu !== 'undefined') { %>
                                <div class="card w-100 h-100 mb-3">
                                    <div class="d-flex align-items-center p-3">
                                        <img src="<%= kurucu.photoPath %>" alt="pp" class="img-fluid" style="max-width: 50px; height: 50px; margin-right: 10px;">
                                        <div class="d-flex flex-column">
                                            <p class="mb-0"><strong><%= kurucu.KullanıcıAdı %></strong></p>
                                            <p class="mb-0"><%= kurucu.email %></p>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <p style="text-align: center;">Admin tarafından oluşturuldu veya etkinlik kurucusu bulunamadı.</p>
                            <% } %>

                            
                        </div>
                        <div class="col-md-2 d-flex flex-column align-items-center justify-content-center">
                            <% if (typeof kurucu !== 'undefined' && kurucu.idkullanıcılar == kullanici_id) { %>
                                <a class="btn btn-primary mb-2" href="/user/etkinlik/update/<%= etkinlik.idetkinlikler %>">Düzenle</a>
                                <a class="btn btn-danger mb-2" href="/user/etkinlik/delete/<%= etkinlik.idetkinlikler %>">Sil</a>
                            <% } %>
                            <% const katilimciVarMi = katilimci.find(k => k.idkullaniciR === kullanici_id); %>
                            <% if (katilimciVarMi) { %>
                                <a class="btn btn-danger" href="/user/etkinlik/leave2/<%= etkinlik.idetkinlikler %>">Ayrıl</a>
                            <% } else { %>
                                <a class="btn btn-success" href="/user/etkinlik/join2/<%= etkinlik.idetkinlikler %>">Katıl</a>
                            <% } %>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <button type="button" style="margin-top: 15px;" onclick="toggleMap()" class="btn btn-primary mb-2">Haritayı Göster/Gizle</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <div id="map"></div>
                                <input type="hidden" id="enlem" name="enlem" value="<%= etkinlik.konum.x %>">
                                <input type="hidden" id="boylam" name="boylam" value="<%= etkinlik.konum.y %>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (message && message.length > 0) { %>
            <div class="row justify-content-center" style="margin-left: 90px;">
                <div class="col-md-8">
                    <div class="alert <%= alert_type %> row justify-content-center" role="alert">
                        <%= message %>
                    </div>
                </div>
            </div>
        <% } %>

        <div class="katilimcilar">
            <div id="katilimciShow"></div>
            <h2>KATILIMCILAR</h2>
            <% if (katilimci.length == 0) { %>
                <p>Katılımcı bulunmamaktadır.</p>
            <% } else { %>
                <% katilimci.forEach(kati => { %>
                    <div class="kutu">
                        <span><%= kati.KullanıcıAdı %></span>
                        <% if (etkinlik.olusturanidkullaniciR == kullanici_id) { %>
                            <a class="kaldir" style="text-decoration: none; color: inherit;" href="/user/katilimci/delete/<%= kati.idkatilimcilar %>">X</a>
                        <% } %>
                      </div>
                <% }) %>
            <% } %>
            <% if (message3 && message3.length > 0) { %>
                <div class="row justify-content-center" style="margin-left: 90px;">
                    <div class="col-md-8">
                        <div class="alert <%= alert_type3 %> row justify-content-center" role="alert">
                            <%= message3 %>
                        </div>
                    </div>
                </div>
            <% } %>
    </div>

    <div class="container bootstrap snippets bootdeys">
        <div class="col-md-7 col-xs-12 col-md-offset-2">
          <!-- Panel Chat -->
          <div class="panel" id="chat">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="icon wb-chat-text" aria-hidden="true"></i> Chat
              </h3>
            </div>
            <div class="panel-body">
              <div class="chats">
                <% mesajlar.forEach(mesaj => { %>
                    <% const gönderenKullanıcı = kullanıcılar.find(kullanıcı => kullanıcı.idkullanıcılar === mesaj.idgonderen); %>
                 <% if (mesaj.idgonderen == kullanici_id) { %>
                    <div class="chat">
                        <div class="chat-avatar">
                          <a class="avatar avatar-online" data-toggle="tooltip" href="/user/profile" data-placement="right" title="" data-original-title="<%= gönderenKullanıcı ? gönderenKullanıcı.KullanıcıAdı : 'Bilinmeyen Kullanıcı' %>">
                            <img src="<%= gönderenKullanıcı ? gönderenKullanıcı.photoPath : '/static/images/default_pp.png' %>" alt="Fotoğraf" width="50">
                          </a>
                        </div>
                        <div class="chat-body">
                          <div class="chat-content">
                            <a href="<%= gönderenKullanıcı ? '/user/profile/' + gönderenKullanıcı.idkullanıcılar : '#' %>" style="text-decoration: none; color: inherit;">
                                <strong>
                                    <%= gönderenKullanıcı ? gönderenKullanıcı.KullanıcıAdı : 'Bilinmeyen Kullanıcı' %>
                                </strong>
                            </a>
                            <p>
                              <%= mesaj.mesaj %>
                            </p>
                            <time class="chat-time" datetime="<%= mesaj.tarih %>">
                                <% 
                                  const tarih = new Date(mesaj.tarih);
                                  const saat = tarih.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true });
                                %>
                                <%= saat %>
                              </time>
                          </div>
                        </div>
                      </div>
                      <% } else { %>
                        <% if (mesaj.idgonderen == 0) { %>
                            <div class="chat chat-left">
                                <div class="chat-avatar">
                                  <a class="avatar avatar-online" data-toggle="tooltip" data-placement="left" title="" data-original-title="Yönetici">
                                    <img src="/static/images/default_admin.png" alt="...">
                                  </a>
                                </div>
                                <div class="chat-body">
                                  <div class="chat-content">
                                    <strong>Yönetici</strong>
                                    <p><%= mesaj.mesaj %></p>
                                    <time class="chat-time" datetime="<%= mesaj.tarih %>">
                                        <% 
                                          const tarih = new Date(mesaj.tarih);
                                          const saat = tarih.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true });
                                        %>
                                        <%= saat %>
                                      </time>
                                  </div>
                                </div>
                              </div>

                        <% } else { %>
                            <div class="chat chat-left">
                                <div class="chat-avatar">
                                  <a class="avatar avatar-online" data-toggle="tooltip" href="<%= gönderenKullanıcı ? '/user/profile/' + gönderenKullanıcı.idkullanıcılar : '#' %>" data-placement="left" title="" data-original-title="<%= gönderenKullanıcı ? gönderenKullanıcı.KullanıcıAdı : 'Bilinmeyen Kullanıcı' %>">
                                    <img src="<%= gönderenKullanıcı ? gönderenKullanıcı.photoPath : '/static/images/default_pp.png' %>" alt="Fotoğraf" width="50">
                                    
                                  </a>
                                </div>
                                <div class="chat-body">
                                    
                                  <div class="chat-content">
                                    <a href="<%= gönderenKullanıcı ? '/user/profile/' + gönderenKullanıcı.idkullanıcılar : '#' %>"  style="text-decoration: none; color: inherit;">
                                        <strong>
                                            <%= gönderenKullanıcı ? gönderenKullanıcı.KullanıcıAdı : 'Bilinmeyen Kullanıcı' %>
                                        </strong>
                                    </a>
                                    <p><%= mesaj.mesaj %></p>
                                    <time class="chat-time" datetime="<%= mesaj.tarih %>">
                                        <% 
                                          const tarih = new Date(mesaj.tarih);
                                          const saat = tarih.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true });
                                        %>
                                        <%= saat %>
                                      </time>
                                  </div>
                                </div>
                              </div>
                         
                        <% } %>
                        
                 <% } %>
                <% }) %>
              </div>
            </div>
            <div class="panel-footer">
              <form method="POST" action="/user/send-message"> 
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Mesaj yazın" name="mesaj">
                  <input type="hidden" id="eventId" name="eventId" value="<%= etkinlik.idetkinlikler %>"> 
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Gönder</button>
                    <div id="messageShow"></div>
                  </span>
                </div>
              </form>
            </div>
        </div>
        <% if (message2 && message2.length > 0) { %>
            <div class="row justify-content-center" style="margin-left: 90px;">
                <div class="col-md-8">
                    <div class="alert <%= alert_type2 %> row justify-content-center" role="alert">
                        <%= message2 %>
                    </div>
                </div>
            </div>
        <% } %>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3>Rota Planlama</h3>
                <button type="button" style="margin-top: 15px;" onclick="butForCar()" class="btn btn-primary mb-2">Araç İçin Rota</button>
                <button type="button" style="margin-top: 15px;" onclick="butForCycling()" class="btn btn-primary mb-2">Bisiklet İçin Rota</button>
                <button type="button" style="margin-top: 15px;" onclick="butForWalk()" class="btn btn-primary mb-2">Yürüyüş İçin Rota</button>
                <div id="map_rota" style="height: 400px; margin-top: 20px;"></div>
                <input type="hidden" id="enlem_etkinlik_rota" name="enlem_etkinlik_rota" value="<%= etkinlik.konum.x %>">
                <input type="hidden" id="boylam_etkinlik_rota" name="boylam_etkinlik_rota" value="<%= etkinlik.konum.y %>">
            </div>
        </div>
        <% if (message4 && message4.length > 0) { %>
            <div class="row justify-content-center" style="margin-left: 90px;">
                <div class="col-md-8">
                    <div class="alert <%= alert_type4 %> row justify-content-center" role="alert">
                        <%= message4 %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        
    function previewEventPhoto(event) {
        const reader = new FileReader();
        reader.onload = function() {
            const output = document.getElementById('eventPhotoPreview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);

    }

   
    const etkinlikEnlem = parseFloat("<%= etkinlik.konum?.x || 39.9334 %>");
    const etkinlikBoylam = parseFloat("<%= etkinlik.konum?.y || 32.8597 %>");
    const map = L.map('map').setView([etkinlikEnlem, etkinlikBoylam], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
        maxZoom: 18,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    let marker = L.marker([etkinlikEnlem, etkinlikBoylam]).addTo(map);

    map.on('click', function(e){
        const {lat, lng} = e.latlng;

        //marker update
        if(marker){
            marker.setLatLng(e.latlng);
        }else{
            marker = L.marker(e.latlng).addTo(map);
        }

        //inputlara bilgileri ekle
        document.getElementById('enlem').value = lat;
        document.getElementById('boylam').value = lng;

    });
    </script>
    
    <script>
        function toggleMap() {
            const mapDiv = document.getElementById('map');

            if (mapDiv.style.visibility === 'hidden') {
                mapDiv.style.visibility = 'visible';
                mapDiv.style.height = '400px';  // Haritanın yüksekliğini burada belirleyin.
            } else {
                mapDiv.style.visibility = 'hidden';
                mapDiv.style.height = '0';
            }
        }
    </script>

    <script>
        // Sohbet div'inin scroll'ını en alta ayarla
        function scrollToBottom() {
          const chatContainer = document.getElementsByClassName('chats')[0];
          if (chatContainer) {
            chatContainer.scrollTop = chatContainer.scrollHeight;
          }
        }

        // Sayfa yüklendiğinde çalıştır
        document.addEventListener('DOMContentLoaded', scrollToBottom);

        // Mesaj gönderildikten sonra otomatik çalışması için
        window.onload = scrollToBottom;
    </script>
    <script src="/static/js/notifications.js"></script>
    <script>
        const etkinlikEnlem2 = parseFloat("<%= etkinlik.konum?.x || 39.9334 %>");
        const etkinlikBoylam2 = parseFloat("<%= etkinlik.konum?.y || 32.8597 %>");
        const map2 = L.map('map_rota').setView([etkinlikEnlem2, etkinlikBoylam2], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
            maxZoom: 18,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map2);

        const etkinlikMarker = L.marker([etkinlikEnlem2, etkinlikBoylam2], {
            icon: L.icon({
                iconUrl: 'https://cdn-icons-png.flaticon.com/512/684/684908.png',
                iconSize: [32, 32],
                iconAnchor: [16, 32],
            }),
            draggable: false,
            title: "Etkinlik Konumu"
        }).addTo(map2);

        let clickMarker = null;

        map2.on('click', function(e) {
            const { lat, lng } = e.latlng;
            if (clickMarker) {
                clickMarker.setLatLng(e.latlng);
            } else {
            clickMarker = L.marker(e.latlng, {
                    icon: L.icon({
                        iconUrl: '/static/images/location.png', // Kullanıcı tıklama ikonu URL'si
                        iconSize: [32, 32],
                        iconAnchor: [16, 32],
                    }),
                    draggable: true, 
                    title: "Seçilen Konum"
                }).addTo(map2);
                }

                document.getElementById('enlem_etkinlik_rota').value = lat;
                document.getElementById('boylam_etkinlik_rota').value = lng;
            });


    </script>

<script>
    async function butForCar() {
        const enlem = document.getElementById('enlem_etkinlik_rota').value;
        const boylam = document.getElementById('boylam_etkinlik_rota').value;
        window.open(`https://www.google.com/maps/dir/${etkinlikEnlem2},${etkinlikBoylam2}/${enlem},${boylam}/data=!4m2!4m1!3e0?hl=tr`, '_blank');
    }

    async function butForCycling() {
        const enlem = document.getElementById('enlem_etkinlik_rota').value;
        const boylam = document.getElementById('boylam_etkinlik_rota').value;
        window.open(`https://www.google.com/maps/dir/${etkinlikEnlem2},${etkinlikBoylam2}/${enlem},${boylam}/data=!4m2!4m1!3e1?hl=tr`, '_blank');
    }

    async function butForWalk() {
        const enlem = document.getElementById('enlem_etkinlik_rota').value;
        const boylam = document.getElementById('boylam_etkinlik_rota').value;
        window.open(`https://www.google.com/maps/dir/${etkinlikEnlem2},${etkinlikBoylam2}/${enlem},${boylam}/data=!4m2!4m1!3e2?hl=tr`, '_blank');
    }

    async function butForCar2(){
        const enlem = document.getElementById('enlem').value;
        const boylam = document.getElementById('boylam').value;
        const enlem2 = document.getElementById('enlem_etkinlik_rota').value;
        const boylam2 = document.getElementById('boylam_etkinlik_rota').value;
        const mode = 'driving-car';

        const start = enlem + ',' + boylam;
        const end = enlem2 + ',' + boylam2;

        const response = await fetch('/api/get-routes', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({start, end, mode}),
        });

        const routes = await response.json();
        console.log(routes);

    }

    async function butForCycling2() {
        const enlem = document.getElementById('enlem_etkinlik_rota').value;
        const boylam = document.getElementById('boylam_etkinlik_rota').value;
    }

    async function butForWalk2() {
        const enlem = document.getElementById('enlem_etkinlik_rota').value;
        const boylam = document.getElementById('boylam_etkinlik_rota').value;
    }
    
</script>
</body>
</html>