<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title> İlgiler </title>
    <style>
        body {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #2A2B33;
        }
    </style>
</head>
<body>
    <%- include('../partials/user/nav') %>
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3" style="color: #fff; font: bold;">
                <h3>İlgilerim</h3>
            </div>
            <div class="col-md-12 mt-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px; color: #fff">İlgi Id</th>
                            <th style="color: #fff">İlgi Alanı</th>
                            <th style="width:130px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ilgiler.forEach(ilgi => { %>
                            <tr>
                                <td style="color: #ccc">
                                    <%= ilgi.idilgiAlanlari %>
                                </td>
                                <td style="color: #ccc"> 
                                    <%= ilgi.ilgiAlani %>   
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" href="/user/ilgi_list/delete/<%=ilgi.idilgiAlanlari%>">Sil</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <% if (message && message.length > 0) { %>
            <div class="row justify-content-center" style="margin-left: 90px;">
                <div class="col-md-8">
                    <div class="alert <%= alert_type %> row justify-content-center" role="alert">
                        <%= message %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3" style="color: #fff; font: bold;">
                <h3>Sahip Olmadığım İlgiler</h3>
            </div>
            <div class="col-md-12 mt-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px; color: #fff;">İlgi Id</th>
                            <th style="color: #fff;">İlgi Alanı</th>
                            <th style="width:130px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% nonilgiler.forEach(nonilgi => { %>
                            <tr>
                                <td style="color: #ccc">
                                    <%= nonilgi.idilgiAlanlari %>
                                </td>
                                <td style="color: #ccc">
                                    <%= nonilgi.ilgiAlani %>   
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-success" href="/user/ilgi_list/add/<%=nonilgi.idilgiAlanlari%>">Ekle</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <% if (message && message.length > 0) { %>
            <div class="row justify-content-center" style="margin-left: 90px;">
                <div class="col-md-8">
                    <div class="alert <%= alert_type %> row justify-content-center" role="alert">
                        <%= message %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <script src="/static/js/notifications.js"></script>
</body>
</html>