<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map { height: 400px; margin-bottom: 20px; }
    </style>
</head>
<body>
    <%- include('../partials/user/nav') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3>Etkinlik Güncelle</h3>
            </div>
            <div class="col-md-12 mt-3">
                <form method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label for="id" class="col-sm-2 col-from-label">Id</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="idkullanıcılar" name="idkullanıcılar" readonly value="<%= etkinlik.idetkinlikler %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="etkinlikFoto" class="col-sm-2 col-from-label"></label>
                        <div class="col-sm-8">
                            <img id="eventPhotoPreview" src="<%= etkinlik.photoPath %>" class="card-img-top mx-auto mb-3" alt="Event Photo" style="width: 50%; height: auto;">
                            <input type="file" class="form-control" id="etkinlikFoto" name="etkinlikFoto" accept="image/*" onchange="previewEventPhoto(event)">
                            <input type="hidden" name="currentPhotoPath" id="currentPhotoPath" value="<%= etkinlik.photoPath %>"> 
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="KullanıcıAdı" class="col-sm-2 col-from-label">Etkinlik Adı</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="etkinlikAdi" name="etkinlikAdi" value="<%= etkinlik.etkinlikAdi %>" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="tarih" class="col-sm-2 col-from-label">Etkinlik Tarihi:</label>
                        <div class="col-sm-8">
                            <input type="date" id="tarih" name="tarih" required value="<%= etkinlik.tarih %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="saat" class="col-sm-2 col-from-label">Etkinlik Saati:</label>
                        <div class="col-sm-8">
                            <input type="time" class="form-control" id="saat" name="saat" value="<%= etkinlik.saat %>" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="etkinlikSuresi" class="col-sm-2 col-from-label">Etkinlik Süresi (dakika):</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="etkinlikSuresi" name="etkinlikSuresi" required value="<%= etkinlik.etkinlikSuresi %>">
                        </div>
                    </div>      
                    <div class="row mb-3">
                        <label for="kategori" class="col-sm-2 col-from-label">Kategori:</label>
                        <div class="col-sm-8">
                            <select id="kategori" name="kategori" required>
                                <option value="-1" selected>Kategori Seçiniz</option>
                                <% kategoriler.forEach(kategori => { %>
                                    <% if (kategori.idilgiAlanlari == etkinlik.kategori) { %>
                                        <option value="<%= kategori.idilgiAlanlari %>" selected><%= kategori.ilgiAlani %></option>
                                    <% } else { %>
                                        <option value="<%= kategori.idilgiAlanlari %>"><%= kategori.ilgiAlani %></option>
                                    <% } %>

                                    
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="aciklama" class="col-sm-2 col-from-label">Açıklama:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="aciklama" name="aciklama" required><%= etkinlik.aciklama %></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-from-label">Konum:</label>
                        <div class="col-sm-8">
                            <div id="map"></div>
                            <input type="hidden" id="enlem" name="enlem" value="<%= etkinlik.konum.x %>">
                            <input type="hidden" id="boylam" name="boylam" value="<%= etkinlik.konum.y %>">
                        </div>
                    </div>
                    
                    
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Düzenle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <% if (message && message.length > 0) { %>
            <div class="row justify-content-center" style="margin-left: 90px;">
                <div class="col-md-8">
                    <div class="alert <%= alert_type %> row justify-content-center" role="alert">
                        <%= message %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        
    function previewEventPhoto(event) {
        const reader = new FileReader();
        reader.onload = function() {
            const output = document.getElementById('eventPhotoPreview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);

    }

    //foto değiştiğinde
    /*
    document.getElementById('etkinlikFoto').addEventListener('change', function(e){
        const file = e.target.files[0];
        if(file)
        {
            const formData = new FormData();
            formData.append('photo', file);
            fetch('/upload_photo3', {
                method: 'POST',
                body: formData
            }).then(response => {
                if(response.redirected){
                    window.location.href = response.url;
                }else{
                    return response.json();
                }
            })
            .then(data => {
                if(data && data.photoPath){
                    document.getElementById('eventPhotoPreview').src = data.photoPath;
                }
            })
            .catch(err => {
                console.error(err);
            });
        }
    });
       */
       const etkinlikEnlem = parseFloat("<%= etkinlik.konum?.x || 39.9334 %>");
        const etkinlikBoylam = parseFloat("<%= etkinlik.konum?.y || 32.8597 %>");
    const map = L.map('map').setView([39.9334, 32.8597], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
        maxZoom: 18,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    let marker = L.marker([etkinlikEnlem, etkinlikBoylam]).addTo(map);

    

    map.on('click', function(e){
        const {lat, lng} = e.latlng;

        //marker update
        if(marker){
            marker.setLatLng(e.latlng);
        }else{
            marker = L.marker(e.latlng).addTo(map);
        }

        //inputlara bilgileri ekle
        document.getElementById('enlem').value = lat;
        document.getElementById('boylam').value = lng;

    });

    
    </script>
    
</body>
</html>